@import "/src/app/scss-moduls/mixins";
@import "/src/app/scss-moduls/colors";

.game-bord-wrapper{
    height: 50vh;
    aspect-ratio: 1 /1 ;
    @include set-content-center()
}

table{
    margin: 0 auto;
    border-collapse: collapse ;
    border-style: hidden ;
}
td{
    padding: 1rem;
    border: solid $darkest-color 10px;
    border-radius: 100px;
}

.cell{
    width: 10vw;
    aspect-ratio: 1 / 1 !important;
    @include set-content-center();
    border-radius: 5px;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    font-size: x-large;
}
.cell:hover{
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
